<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS文件</title>
    <style>
        body{
            background: skyblue;
            color: #fff;

        }
        h1{
            font: 30px;
            text-align: center;
            
        }
        p{
            font: 20px;
            text-align: center;
            color: red;
        }
    
    
    </style>
</head>
<body>
    <h1>EJS</h1>
    <p>这是<%= name %>文件 视图显示为Htm </p>
</body>
</html>